%p
  %label{:for => "parly_resource_title"} Title:
  = f.text_field :title
%p
  %label{:for => "parly_resource_description"} Description:
  = f.text_area :description
%p
  %label{:for => "parly_resource_body"} Body:
  = f.text_area :body
%p
  %label{:for => "parly_resource_accept_ranges"} Accept ranges:
  = f.text_field :accept_ranges
%p
  %label{:for => "parly_resource_cache_control"} Cache control:
  = f.text_field :cache_control
%p
  %label{:for => "parly_resource_content_length"} Content length:
  = f.text_field :content_length
%p
  %label{:for => "parly_resource_content_type"} Content type:
  = f.text_field :content_type
%p
  %label{:for => "parly_resource_date"} Date:
  = f.datetime_select :date
%p
  %label{:for => "parly_resource_etag"} Etag:
  = f.text_field :etag
%p
  %label{:for => "parly_resource_expires"} Expires:
  = f.text_field :expires
%p
  %label{:for => "parly_resource_last_modified"} Last modified:
  = f.datetime_select :last_modified
%p
  %label{:for => "parly_resource_pragma"} Pragma:
  = f.text_field :pragma
%p
  %label{:for => "parly_resource_server"} Server:
  = f.text_field :server
%p
  %label{:for => "parly_resource_set_cookie"} Set cookie:
  = f.text_field :set_cookie
%p
  %label{:for => "parly_resource_transfer_encoding"} Transfer encoding:
  = f.text_field :transfer_encoding
%p
  %label{:for => "parly_resource_url"} Url:
  = f.text_field :url
%p
  %label{:for => "parly_resource_x_powered_by"} X powered by:
  = f.text_field :x_powered_by
