%p.search-result
  - unless search_result.file_format == "HTML"
    %span.results-fileformat= "[" + search_result.file_format + "]"
  %span.short-title= link_to h(search_result.short_title), search_result.url, :title => search_result.url
  %br
  - if search_result.date
    %span.date{:title=>search_result.date.to_s(:month_year)}=  time_ago_in_words(search_result.date).gsub(/^over |^about /, '') + " ago -"
  = excerpts(search_result.text, @search_query)
  %span
    %span.results-url= search_result.url[7..-1]
    &ndash;
    = link_to 'Cached', :action => "show", :id => search_result.id, :q => @search_query
    - if search_result.unique_description?
      &ndash;
      %span.unique_description
        More: 
        = h search_result.unique_description
        /= link_to search_result.unique_description, :action => "show", :id => search_result.id, :q => @search_query
