%h1 Listing parly_resources

- form_tag search_url do
  = text_field_tag 'q'
  = submit_tag 'Search'
%table
  %tr
    %th Title
    %th Description
  - @parly_resources.each do |parly_resource|
    %tr
      %td
        = link_to h(parly_resource.short_title), parly_resource.url
        = " (#{parly_resource.url.split('/').last})"
        %br
        = h parly_resource.unique_description

      %td= link_to 'Show', object_url(parly_resource)
