- @title = 'Search'

= render :partial => 'search_form'

- if @parly_resources.empty?
  %p= "No results found for: #{@search_query}"
- else
  = render :partial => 'pagination_navbar', :object => @paginator
  = render :partial => 'search_result', :collection => @parly_resources
