- unless @title
  @title = "Search"

= render :partial => 'search_form'

- if @parly_resources.empty?
  %p= "No results found for: #{h(@search_query)}"
- else
  %p.sort-and-facet
    %span.sorting-order
      Sort by
      = link_to 'Newest', search_url(:q => h(@search_query), :sort => 'newest_first')
      &middot;
      = link_to 'Oldest', search_url(:q => h(@search_query), :sort => 'oldest_first')
    %span.faceting
      Show only
      = link_to 'PDFs', search_url(:q => h(@search_query), :sort => @sort, :t => 'pdf')
      &middot;
      = link_to 'HTML', search_url(:q => h(@search_query), :sort => @sort, :t => 'html')
      &middot;
      = link_to 'Word', search_url(:q => h(@search_query), :sort => @sort, :t => 'word')
  = render :partial => 'search_result', :collection => @parly_resources
  = render :partial => 'pagination_navbar', :object => @paginator
