- @title = 'Search'

- form_tag search_url do
  %p
    = text_field_tag 'q', params[:q]
    = submit_tag 'Search'

- if @parly_resources.empty?
  %p= "No results found for: #{@search_query}"
- else
  - paginator_content = will_paginate(@paginator)
  - if paginator_content
    .top-pagination
      %p= paginator_content

- @parly_resources.each do |parly_resource|
  %p
    - if parly_resource.file_format != "HTML"
      %span.results-fileformat= "[" + parly_resource.file_format + "]"
    = link_to h(parly_resource.short_title), parly_resource.url
    %br
    - if parly_resource.unique_description && !parly_resource.unique_description.empty?
      = h parly_resource.unique_description
      %br
    = excerpts(parly_resource.text, @search_query)
    %br
    %span.results-url= parly_resource.url.split('/').last
    &ndash;
    %small= link_to 'More', object_url(parly_resource)

