- @title = @parly_resource.title

%h1= @parly_resource.short_title
%hr
%p
  %strong URL
  =h @parly_resource.url
%p
  %strong Type
  =h @parly_resource.content_type
%p
  %strong Language
  =h @parly_resource.language
%hr

- sorted_attributes = @parly_resource.attributes.to_a.sort {|a,b| a[0] <=> b[0]}
- sorted_attributes.each do |key, value|
  - unless value.blank? || ['url','content_type','language','body','title','id','server','transfer_encoding'].include?(key) || key[/(_at|date)$/]
    %p
      %strong= key
      =h value
%hr

%p
  %strong Content
  = highlights(@parly_resource.text, params[:q].gsub('"',''))

- sorted_attributes.select{|x| x[0][/(_at|date)$/]}.each do |key, value|
  - unless value.blank?
    %p
      %strong= key
      =h value

= link_to 'Edit', edit_object_url
|
= link_to 'Back', collection_url